.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: var(--modal-overlay-z-index, 2);
  
  transition: opacity 0.2s ease-in-out;
  
  backdrop-filter: blur(2px);
  
  will-change: opacity;
  
  user-select: none;
}
